<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Codigo</Data></Cell>
        <Cell><Data ss:Type="String">Persona</Data></Cell>
        <Cell><Data ss:Type="String">Fecha</Data></Cell>
      </Row>
    <% @records.each do |record| %>
      <Row>
        <Cell><Data ss:Type="String"><%= record.code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.firstname %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.day %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>