<h1> Nuevo Candidato </h1>

<div class="spacer-5"></div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#tab0" aria-controls="tab0" role="tab" data-toggle="tab">Datos Generales</a></li>
  <li role="presentation"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Antecedentes Familiares</a></li>
  <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Antecedentes Patológicos</a></li>
  <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Medicamentos</a></li>
</ul>

<div class="form-horizontal">
  <%= render 'form' %>
</div>