<div class="spacer-5"></div>

<% @researches.each do |research| %> 
  <div class="container">
	<div class="jumbotron">
	  <h1><%= research.code %></h1>
	  <h2><%= research.name %></h2>
	  <p><%= research.description %></p>
	  <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button"> Abrir Protocolo </a>
	</div>
  </div>
<% end %>
	